@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@namespace info.ajanovski.eprms.net.Pages
@model IndexModel
@{
    ViewData["Title"] = Localizer["greeting"];
}

<div class="jumbotron text-center hoverable p-4">

	<div class="row">

		<div class="col-md-3 offset-md-1 mx-3 my-3">
			<div class="view overlay">
				<div class="mask rgba-white-slight">
					<a> <img src="~/images/logo.png" class="img-fluid"
						alt='@Localizer["greeting"]' /></a>
				</div>
			</div>
		</div>

		<div class="col-md-8 text-md-left ml-3 mt-3">
			<h4 class="h4 mb-4">@Localizer["greeting-title"]</h4>
			<p class="font-weight-normal">@Localizer["greeting"]</p>
			<a class="btn btn-success" href='@Localizer["greeting-url"]'>@Localizer["greeting-url"]</a>
		</div>

	</div>

</div>
