@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@namespace info.ajanovski.eprms.net.Pages
@model MyDatabasesModel
@{
    ViewData["Title"] = Localizer["greeting"];
}

<h1>@Localizer["MyDatabases-pagelink"]</h1>

@foreach (var database in Model.projectDatabases) {
<div class="card mb-3">
	<div class="card-body">
		<div class="card-title">
			<h2>Project: @database.Project.Title</h2>
			<h3>Database: @database.Name</h3>
		</div>
		<p>Please use the following parameters to connect to this
			database</p>
		<table class="table table-sm">
			<tr class="table-primary">
				<td>SSH tunnel server:</td>
				<td>@database.TunnelServer</td>
			</tr>
			<tr class="table-primary">
				<td>SSH tunnel user:</td>
				<td>@database.TunnelUser</td>
			</tr>
			<tr class="table-primary">
				<td>SSH tunnel password:</td>
				<td>@database.TunnelPassword</td>
			</tr>
			<tr class="table-secondary">
				<td>Database Server:</td>
				<td>@database.Server</td>
			</tr>
			<tr class="table-secondary">
				<td>Database Name:</td>
				<td>@database.Name</td>
			</tr>
			<tr class="table-secondary">
				<td>Database User:</td>
				<td>@database.Owner</td>
			</tr>
			<tr class="table-secondary">
				<td>Database Password:</td>
				<td>@database.Password</td>
			</tr>
		</table>
	</div>
</div>
}
